*.sqlite3
*.sqlite3-*
__pycache__/
.env
**/firebase-adminsdk*.json
**/service-account*.json
*.jks
*.keystore
android/.gradle/
android/local.properties
**/build/

node_modules/
hosting/dist/
.firebase/
firebase-debug.log
